<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
            In a life full of complexity and chaos, order is the solution. ​When I served as the primary interpreter for the Commander of the Korean Special Forces, I witnessed how a meticulous structure could accomplish seemingly impossible tasks. Similarly, the structured environment with its tightly regimented lifestyle, has allowed me to reclaim order in my chaotic life, which I brought onto myself in my first two years at CMU. Understanding the world, by establishing order and recognizing patterns, is how you regain control, which is precisely what Machine Learning does.
            </p>

              <p class="paragraph-text justify-text">
            The more I study, I feel stronger in love with Machine Learning as it is used to seek the inherent structure of data to solve and understand the complexities that arise in the real world.
            I am truly thankful to be able to study what I love and what I truly believe in.
            </p>

            <p class="paragraph-text justify-text">
           I realize that this passion for research and determination to excel came late. My experience in the South Korean Special Forces, the phenomenal advising by CMU professors (David Kosbie, Mark Stehlik, L.P. Morency, Gordon Weinberg, and many more) and mentorship by members of the MultiComp lab (Chaitanya Ahuja) has helped me become a determined student and passionate researcher. I am extremely grateful for their efforts; I would not be who I am without their advising.
          </p>

          <p class="paragraph-text justify-text">
         My long term goal is to create a world where robots can be our friends and companion. Specifically, I hope to build technologies that can help robots to co-exist with humans and increase realism in virtual interaction.
         I would love to join a program where I could continue building my breadth and deapth in ML/AI and also participate in relevant research.

        </p>


        </div>
    </section>
</div>
