<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>

                <div class="project-technologies">

                    <!-- <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="publications" class="semi-transparent-button with-border white-button" onclick="selected('publications')">Publications</a>
                    <a id="dataset/scripts" class="semi-transparent-button with-border white-button" onclick="selected('dataset')">Scripts</a>
                    <a id="ML" class="semi-transparent-button with-border white-button" onclick="selected('ML')">ML/Python</a>
                    <a id="misc" class="semi-transparent-button with-border white-button" onclick="selected('misc')">Misc.</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a> -->

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
